body{
    background-color: black !important;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; width: 100vw;
}
hr.hor{
    border-top: white 1px solid;
    width: 60%;
    transition: width 1s;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    margin-top: 4rem;
}
hr.hor:hover{
    width: 80%;
}
.navbar img{
    margin-left: 30%;
    width: 100%;
}
.navbar-nav li{
    margin-left: 10%;
}
.navbar-nav{
    margin-left: 70%;
}
.navbar-nav a{
    color: white;
}
.navbar-nav a:hover{
    color: #C81912;
}

h2{
    color: rgb(255, 255, 255) !important;
}
#section-1{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.intro:hover{
    color: #C81912;
}

/* .intro{
    color: red;
} */

#section-1 h2{
    margin-left: 15%;
}

#section-2{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.sec-h2{
    /* padding-bottom: 4rem; */
    text-align: center;
}

nav{
    position: fixed;
    top: 0;  
    z-index: 9999; 
    width: 100%; 
    height: 100px;
    background-color: black;
}
p{
    color: white;
}
.about-para{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 200;
    font-size: large;
}

.my-img{
    width: 20%;
    border-radius: 100%;
    transition: width 1s;
}
.my-img:hover{
    width: 22%;
}

.about-img{
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 4rem;
}

#section-3{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}
.main-skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    column-gap: 10%;
}

.main-skills h1{
    color: white;
    font-size: larger;
    padding-top: 10%;
}
.progress-bar{
    background-color: #C81912 !important;
}


.progress{
    background-color: black !important;
}

.achieve, .volunteer, .projects{
    display: grid;
    padding-top: 2rem;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
}
.certificates{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
}


.projects .certificates div{
    height: 140px;
    width: 100%;
    border-radius: 6px;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 5px 5px #3d3d3d;
    text-align: center;
}
.projects .certificates div:hover{
    box-shadow: 5px 5px 5px #2a0402;
    background-color: #140d0d;
}

.moa-img{
    width: 80%; 
}
.mshafah{
    color: #A2ADAF;
    font-size: 30px;
    letter-spacing: 5px;
}
.SA-img{
    width: 20%;
}

.projects .certificates a:hover{
    text-decoration: none;
}
.institute{
    padding-top: 2rem;
}
.education{
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    align-items: center;
    color: white;
}
.clg-row{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.clg-name{
    font-size: 2rem;
    text-align: left;
}
.period{
    text-align: left;
    display: grid;
    align-items: top;
    padding-top: 0.5rem;
}
.branch{
    font-size: 1.3rem;
}
.grade{
    font-size: 1rem;
}

#section-7{
    padding-bottom: 4rem;
}

@media only screen and (max-width:400px) {
    .certificates{
        grid-template-columns: 100%;
    }
    .certificates embed{
        width: 300px;
        height: 213px;
    }
    .clg-name{
        font-size: 1.3rem;
    }
    .period{
        font-size: 0.8rem;
        text-align: right;
    }
    .branch{
        font-size: 1rem;
    }
}